{% extends "WebControl/base.html" %}

{% block content %}
{% load static %}
<div class="container" id="home-container">
	<h3 class="text-center">DOORS:</h3>
	<div class="row">
		<div id ="doors" class="col-md-12">
			{% include 'WebControl/doors.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h3>ADD CARD:</h3> <br>
			<form action="edit_card" method="POST" id="cardForm">
				<div class="form-group">
					{% csrf_token %}
					{{ data.edit_card_form.as_p }}
					<script type="text/javascript">
						document.getElementById('id_id').value = '1234555';
					</script>
					<input type="submit" value="Edit Card" />
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
