@font-face {
	font-family: Audimat;
	src: url("/assets/fonts/audimat-regular.otf") format("opentype");
}

@font-face {
	font-family: Audimat;
	font-weight: bold;
	src: url("/assets/fonts/audimat-bold.otf") format("opentype");
}

@font-face {
	font-family: Audimat;
	font-style: italic;
	src: url("/assets/fonts/audimat-italic.otf") format("opentype");
}

@font-face {
	font-family: Audimat;
	font-weight: bold;
	font-style: italic;
	src: url("/assets/fonts/audimat-bold-italic.otf") format("opentype");
}