{% extends "WebControl/base.html" %}
{% block content %}

<div class="container">
	<h3 class="text-center">CARDS:</h3>
	<div class="col-md-8 col-sm-12 col-md-offset-2" id="cards">
		{% if data.cards.all %}
			<table id="cards" 
				class="table table-striped table-responsive table-hover">
				<thead>
					<tr>
						<th>Card number</th>
						<th>Owner</th>
						<th>Doors</th>
					</tr>
				</thead>
		    	{% for card in data.cards %}
			    	<tr>
			    		<td class="vert-align">{{card.id}}</td>
			    		<td class="vert-align">
				    		{% if card.owner == None %}
				    			<button id="addUser" title="Add card to a user" 
				    				class="btn-block btn-default">Assign owner</button>
				    		{% else %}
				    			{{card.owner.first_name}} {{card.owner.last_name}}
				    		{% endif %}
			    		</td>
			    		<td class="vert-align">
			    			<table>
			    				{% for d in card.doors.all %}
					    			<tr><p class="table-nested">{{d}}</p><tr>
					    		{% empty %}
					    			<em>No doors set to open with this card.</em>
					    		{% endfor %}
			    			</table>
			    		</td>
			    	</tr>
				{% endfor %}
			</table>
		{% else %}
			<em>No cards in system</em>
		{% endif %}
	</div>
</div>

{% endblock %}