{% load static %}
{% for door in data.doors %}
	{% if door.open %}
		<div class="col-md-2 col-sm-3 col-xs-6 col-padded">
			<h4 class="text-center">{{door.name}}<br>d.{{door.id}}</h4>
			<center>
				{% if door.controllable %}
					<img src="{% static 'img/door-open-rfid-md.png' %}">
				{% else %}
					<img src="{% static 'img/door-open-md.png' %}">
				{% endif %}
			</center>
		</div>
	{% else %}
		<div class="col-md-2 col-sm-3 col-xs-6 col-padded">
			<h4 class="text-center">{{door.name}}<br>d.{{door.id}}</h4>
			<center>
				<form action="open_door" method="POST" class="open-door-form">
					{% csrf_token %}
					{{ data.open_door_form }}
					<input type="hidden" value={{door.id}} name="id">
					{% if door.controllable %}
						<input type="image" 
							src="{% static 'img/door-closed-rfid-md.png' %}"
							value="Open Door"
							class="img-responsive center-block">
					{% else %}
						<img src="{% static 'img/door-closed-md.png' %}">
					{% endif %}
				</form>
			</center>
		</div>
	{% endif %}
{% empty %}
	<em>No doors in system</em>
{% endfor %}