/*
Flaticon icon font: Flaticon
Creation date: 22/06/2016 15:41
*/
@font-face { font-family: "Flaticon"; src: url("../flaticon/Flaticon.eot"); src: url("../flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../flaticon/Flaticon.woff") format("woff"), url("../flaticon/Flaticon.ttf") format("truetype"), url("../flaticon/Flaticon.svg#Flaticon") format("svg"); font-weight: normal; font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { @font-face { font-family: "Flaticon"; src: url("assets/flaticon/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before { display: inline-block; font-family: "Flaticon"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

.fi-add:before { content: "\f100"; }

.fi-add-1:before { content: "\f101"; }

.fi-add-2:before { content: "\f102"; }

.fi-add-3:before { content: "\f103"; }

.fi-agenda:before { content: "\f104"; }

.fi-alarm:before { content: "\f105"; }

.fi-alarm-1:before { content: "\f106"; }

.fi-alarm-clock:before { content: "\f107"; }

.fi-alarm-clock-1:before { content: "\f108"; }

.fi-albums:before { content: "\f109"; }

.fi-app:before { content: "\f10a"; }

.fi-archive:before { content: "\f10b"; }

.fi-archive-1:before { content: "\f10c"; }

.fi-archive-2:before { content: "\f10d"; }

.fi-archive-3:before { content: "\f10e"; }

.fi-attachment:before { content: "\f10f"; }

.fi-back:before { content: "\f110"; }

.fi-battery:before { content: "\f111"; }

.fi-battery-1:before { content: "\f112"; }

.fi-battery-2:before { content: "\f113"; }

.fi-battery-3:before { content: "\f114"; }

.fi-battery-4:before { content: "\f115"; }

.fi-battery-5:before { content: "\f116"; }

.fi-battery-6:before { content: "\f117"; }

.fi-battery-7:before { content: "\f118"; }

.fi-battery-8:before { content: "\f119"; }

.fi-battery-9:before { content: "\f11a"; }

.fi-binoculars:before { content: "\f11b"; }

.fi-blueprint:before { content: "\f11c"; }

.fi-bluetooth:before { content: "\f11d"; }

.fi-bluetooth-1:before { content: "\f11e"; }

.fi-bookmark:before { content: "\f11f"; }

.fi-bookmark-1:before { content: "\f120"; }

.fi-briefcase:before { content: "\f121"; }

.fi-broken-link:before { content: "\f122"; }

.fi-calculator:before { content: "\f123"; }

.fi-calculator-1:before { content: "\f124"; }

.fi-calendar:before { content: "\f125"; }

.fi-calendar-1:before { content: "\f126"; }

.fi-calendar-2:before { content: "\f127"; }

.fi-calendar-3:before { content: "\f128"; }

.fi-calendar-4:before { content: "\f129"; }

.fi-calendar-5:before { content: "\f12a"; }

.fi-calendar-6:before { content: "\f12b"; }

.fi-calendar-7:before { content: "\f12c"; }

.fi-checked:before { content: "\f12d"; }

.fi-checked-1:before { content: "\f12e"; }

.fi-clock:before { content: "\f12f"; }

.fi-clock-1:before { content: "\f130"; }

.fi-close:before { content: "\f131"; }

.fi-cloud:before { content: "\f132"; }

.fi-cloud-computing:before { content: "\f133"; }

.fi-cloud-computing-1:before { content: "\f134"; }

.fi-cloud-computing-2:before { content: "\f135"; }

.fi-cloud-computing-3:before { content: "\f136"; }

.fi-cloud-computing-4:before { content: "\f137"; }

.fi-cloud-computing-5:before { content: "\f138"; }

.fi-command:before { content: "\f139"; }

.fi-compact-disc:before { content: "\f13a"; }

.fi-compact-disc-1:before { content: "\f13b"; }

.fi-compact-disc-2:before { content: "\f13c"; }

.fi-compass:before { content: "\f13d"; }

.fi-compose:before { content: "\f13e"; }

.fi-controls:before { content: "\f13f"; }

.fi-controls-1:before { content: "\f140"; }

.fi-controls-2:before { content: "\f141"; }

.fi-controls-3:before { content: "\f142"; }

.fi-controls-4:before { content: "\f143"; }

.fi-controls-5:before { content: "\f144"; }

.fi-controls-6:before { content: "\f145"; }

.fi-controls-7:before { content: "\f146"; }

.fi-controls-8:before { content: "\f147"; }

.fi-controls-9:before { content: "\f148"; }

.fi-database:before { content: "\f149"; }

.fi-database-1:before { content: "\f14a"; }

.fi-database-2:before { content: "\f14b"; }

.fi-database-3:before { content: "\f14c"; }

.fi-diamond:before { content: "\f14d"; }

.fi-diploma:before { content: "\f14e"; }

.fi-dislike:before { content: "\f14f"; }

.fi-dislike-1:before { content: "\f150"; }

.fi-divide:before { content: "\f151"; }

.fi-divide-1:before { content: "\f152"; }

.fi-division:before { content: "\f153"; }

.fi-document:before { content: "\f154"; }

.fi-download:before { content: "\f155"; }

.fi-edit:before { content: "\f156"; }

.fi-edit-1:before { content: "\f157"; }

.fi-eject:before { content: "\f158"; }

.fi-eject-1:before { content: "\f159"; }

.fi-equal:before { content: "\f15a"; }

.fi-equal-1:before { content: "\f15b"; }

.fi-equal-2:before { content: "\f15c"; }

.fi-error:before { content: "\f15d"; }

.fi-exit:before { content: "\f15e"; }

.fi-exit-1:before { content: "\f15f"; }

.fi-exit-2:before { content: "\f160"; }

.fi-eyeglasses:before { content: "\f161"; }

.fi-fast-forward:before { content: "\f162"; }

.fi-fast-forward-1:before { content: "\f163"; }

.fi-fax:before { content: "\f164"; }

.fi-file:before { content: "\f165"; }

.fi-file-1:before { content: "\f166"; }

.fi-file-2:before { content: "\f167"; }

.fi-film:before { content: "\f168"; }

.fi-fingerprint:before { content: "\f169"; }

.fi-flag:before { content: "\f16a"; }

.fi-flag-1:before { content: "\f16b"; }

.fi-flag-2:before { content: "\f16c"; }

.fi-flag-3:before { content: "\f16d"; }

.fi-flag-4:before { content: "\f16e"; }

.fi-focus:before { content: "\f16f"; }

.fi-folder:before { content: "\f170"; }

.fi-folder-1:before { content: "\f171"; }

.fi-folder-10:before { content: "\f172"; }

.fi-folder-11:before { content: "\f173"; }

.fi-folder-12:before { content: "\f174"; }

.fi-folder-13:before { content: "\f175"; }

.fi-folder-14:before { content: "\f176"; }

.fi-folder-15:before { content: "\f177"; }

.fi-folder-16:before { content: "\f178"; }

.fi-folder-17:before { content: "\f179"; }

.fi-folder-18:before { content: "\f17a"; }

.fi-folder-19:before { content: "\f17b"; }

.fi-folder-2:before { content: "\f17c"; }

.fi-folder-3:before { content: "\f17d"; }

.fi-folder-4:before { content: "\f17e"; }

.fi-folder-5:before { content: "\f17f"; }

.fi-folder-6:before { content: "\f180"; }

.fi-folder-7:before { content: "\f181"; }

.fi-folder-8:before { content: "\f182"; }

.fi-folder-9:before { content: "\f183"; }

.fi-forbidden:before { content: "\f184"; }

.fi-funnel:before { content: "\f185"; }

.fi-garbage:before { content: "\f186"; }

.fi-garbage-1:before { content: "\f187"; }

.fi-garbage-2:before { content: "\f188"; }

.fi-gift:before { content: "\f189"; }

.fi-help:before { content: "\f18a"; }

.fi-hide:before { content: "\f18b"; }

.fi-hold:before { content: "\f18c"; }

.fi-home:before { content: "\f18d"; }

.fi-home-1:before { content: "\f18e"; }

.fi-home-2:before { content: "\f18f"; }

.fi-hourglass:before { content: "\f190"; }

.fi-hourglass-1:before { content: "\f191"; }

.fi-hourglass-2:before { content: "\f192"; }

.fi-hourglass-3:before { content: "\f193"; }

.fi-house:before { content: "\f194"; }

.fi-id-card:before { content: "\f195"; }

.fi-id-card-1:before { content: "\f196"; }

.fi-id-card-2:before { content: "\f197"; }

.fi-id-card-3:before { content: "\f198"; }

.fi-id-card-4:before { content: "\f199"; }

.fi-id-card-5:before { content: "\f19a"; }

.fi-idea:before { content: "\f19b"; }

.fi-incoming:before { content: "\f19c"; }

.fi-infinity:before { content: "\f19d"; }

.fi-info:before { content: "\f19e"; }

.fi-internet:before { content: "\f19f"; }

.fi-key:before { content: "\f1a0"; }

.fi-lamp:before { content: "\f1a1"; }

.fi-layers:before { content: "\f1a2"; }

.fi-layers-1:before { content: "\f1a3"; }

.fi-like:before { content: "\f1a4"; }

.fi-like-1:before { content: "\f1a5"; }

.fi-like-2:before { content: "\f1a6"; }

.fi-link:before { content: "\f1a7"; }

.fi-list:before { content: "\f1a8"; }

.fi-list-1:before { content: "\f1a9"; }

.fi-lock:before { content: "\f1aa"; }

.fi-lock-1:before { content: "\f1ab"; }

.fi-locked:before { content: "\f1ac"; }

.fi-locked-1:before { content: "\f1ad"; }

.fi-locked-2:before { content: "\f1ae"; }

.fi-locked-3:before { content: "\f1af"; }

.fi-locked-4:before { content: "\f1b0"; }

.fi-locked-5:before { content: "\f1b1"; }

.fi-locked-6:before { content: "\f1b2"; }

.fi-login:before { content: "\f1b3"; }

.fi-magic-wand:before { content: "\f1b4"; }

.fi-magnet:before { content: "\f1b5"; }

.fi-magnet-1:before { content: "\f1b6"; }

.fi-magnet-2:before { content: "\f1b7"; }

.fi-map:before { content: "\f1b8"; }

.fi-map-1:before { content: "\f1b9"; }

.fi-map-2:before { content: "\f1ba"; }

.fi-map-location:before { content: "\f1bb"; }

.fi-megaphone:before { content: "\f1bc"; }

.fi-megaphone-1:before { content: "\f1bd"; }

.fi-menu:before { content: "\f1be"; }

.fi-menu-1:before { content: "\f1bf"; }

.fi-menu-2:before { content: "\f1c0"; }

.fi-menu-3:before { content: "\f1c1"; }

.fi-menu-4:before { content: "\f1c2"; }

.fi-microphone:before { content: "\f1c3"; }

.fi-microphone-1:before { content: "\f1c4"; }

.fi-minus:before { content: "\f1c5"; }

.fi-minus-1:before { content: "\f1c6"; }

.fi-more:before { content: "\f1c7"; }

.fi-more-1:before { content: "\f1c8"; }

.fi-more-2:before { content: "\f1c9"; }

.fi-multiply:before { content: "\f1ca"; }

.fi-multiply-1:before { content: "\f1cb"; }

.fi-music-player:before { content: "\f1cc"; }

.fi-music-player-1:before { content: "\f1cd"; }

.fi-music-player-2:before { content: "\f1ce"; }

.fi-music-player-3:before { content: "\f1cf"; }

.fi-mute:before { content: "\f1d0"; }

.fi-muted:before { content: "\f1d1"; }

.fi-navigation:before { content: "\f1d2"; }

.fi-navigation-1:before { content: "\f1d3"; }

.fi-network:before { content: "\f1d4"; }

.fi-newspaper:before { content: "\f1d5"; }

.fi-next:before { content: "\f1d6"; }

.fi-note:before { content: "\f1d7"; }

.fi-notebook:before { content: "\f1d8"; }

.fi-notebook-1:before { content: "\f1d9"; }

.fi-notebook-2:before { content: "\f1da"; }

.fi-notebook-3:before { content: "\f1db"; }

.fi-notebook-4:before { content: "\f1dc"; }

.fi-notebook-5:before { content: "\f1dd"; }

.fi-notepad:before { content: "\f1de"; }

.fi-notepad-1:before { content: "\f1df"; }

.fi-notepad-2:before { content: "\f1e0"; }

.fi-notification:before { content: "\f1e1"; }

.fi-paper-plane:before { content: "\f1e2"; }

.fi-paper-plane-1:before { content: "\f1e3"; }

.fi-pause:before { content: "\f1e4"; }

.fi-pause-1:before { content: "\f1e5"; }

.fi-percent:before { content: "\f1e6"; }

.fi-percent-1:before { content: "\f1e7"; }

.fi-perspective:before { content: "\f1e8"; }

.fi-photo-camera:before { content: "\f1e9"; }

.fi-photo-camera-1:before { content: "\f1ea"; }

.fi-photos:before { content: "\f1eb"; }

.fi-picture:before { content: "\f1ec"; }

.fi-picture-1:before { content: "\f1ed"; }

.fi-picture-2:before { content: "\f1ee"; }

.fi-pin:before { content: "\f1ef"; }

.fi-placeholder:before { content: "\f1f0"; }

.fi-placeholder-1:before { content: "\f1f1"; }

.fi-placeholder-2:before { content: "\f1f2"; }

.fi-placeholder-3:before { content: "\f1f3"; }

.fi-placeholders:before { content: "\f1f4"; }

.fi-play-button:before { content: "\f1f5"; }

.fi-play-button-1:before { content: "\f1f6"; }

.fi-plus:before { content: "\f1f7"; }

.fi-power:before { content: "\f1f8"; }

.fi-previous:before { content: "\f1f9"; }

.fi-price-tag:before { content: "\f1fa"; }

.fi-print:before { content: "\f1fb"; }

.fi-push-pin:before { content: "\f1fc"; }

.fi-radar:before { content: "\f1fd"; }

.fi-reading:before { content: "\f1fe"; }

.fi-record:before { content: "\f1ff"; }

.fi-repeat:before { content: "\f200"; }

.fi-repeat-1:before { content: "\f201"; }

.fi-restart:before { content: "\f202"; }

.fi-resume:before { content: "\f203"; }

.fi-rewind:before { content: "\f204"; }

.fi-rewind-1:before { content: "\f205"; }

.fi-route:before { content: "\f206"; }

.fi-save:before { content: "\f207"; }

.fi-search:before { content: "\f208"; }

.fi-search-1:before { content: "\f209"; }

.fi-send:before { content: "\f20a"; }

.fi-server:before { content: "\f20b"; }

.fi-server-1:before { content: "\f20c"; }

.fi-server-2:before { content: "\f20d"; }

.fi-server-3:before { content: "\f20e"; }

.fi-settings:before { content: "\f20f"; }

.fi-settings-1:before { content: "\f210"; }

.fi-settings-2:before { content: "\f211"; }

.fi-settings-3:before { content: "\f212"; }

.fi-settings-4:before { content: "\f213"; }

.fi-settings-5:before { content: "\f214"; }

.fi-settings-6:before { content: "\f215"; }

.fi-settings-7:before { content: "\f216"; }

.fi-settings-8:before { content: "\f217"; }

.fi-settings-9:before { content: "\f218"; }

.fi-share:before { content: "\f219"; }

.fi-share-1:before { content: "\f21a"; }

.fi-share-2:before { content: "\f21b"; }

.fi-shuffle:before { content: "\f21c"; }

.fi-shuffle-1:before { content: "\f21d"; }

.fi-shutdown:before { content: "\f21e"; }

.fi-sign:before { content: "\f21f"; }

.fi-sign-1:before { content: "\f220"; }

.fi-skip:before { content: "\f221"; }

.fi-smartphone:before { content: "\f222"; }

.fi-smartphone-1:before { content: "\f223"; }

.fi-smartphone-10:before { content: "\f224"; }

.fi-smartphone-11:before { content: "\f225"; }

.fi-smartphone-2:before { content: "\f226"; }

.fi-smartphone-3:before { content: "\f227"; }

.fi-smartphone-4:before { content: "\f228"; }

.fi-smartphone-5:before { content: "\f229"; }

.fi-smartphone-6:before { content: "\f22a"; }

.fi-smartphone-7:before { content: "\f22b"; }

.fi-smartphone-8:before { content: "\f22c"; }

.fi-smartphone-9:before { content: "\f22d"; }

.fi-speaker:before { content: "\f22e"; }

.fi-speaker-1:before { content: "\f22f"; }

.fi-speaker-2:before { content: "\f230"; }

.fi-speaker-3:before { content: "\f231"; }

.fi-speaker-4:before { content: "\f232"; }

.fi-speaker-5:before { content: "\f233"; }

.fi-speaker-6:before { content: "\f234"; }

.fi-speaker-7:before { content: "\f235"; }

.fi-speaker-8:before { content: "\f236"; }

.fi-spotlight:before { content: "\f237"; }

.fi-star:before { content: "\f238"; }

.fi-star-1:before { content: "\f239"; }

.fi-stop:before { content: "\f23a"; }

.fi-stop-1:before { content: "\f23b"; }

.fi-stopwatch:before { content: "\f23c"; }

.fi-stopwatch-1:before { content: "\f23d"; }

.fi-stopwatch-2:before { content: "\f23e"; }

.fi-stopwatch-3:before { content: "\f23f"; }

.fi-stopwatch-4:before { content: "\f240"; }

.fi-street:before { content: "\f241"; }

.fi-street-1:before { content: "\f242"; }

.fi-substract:before { content: "\f243"; }

.fi-substract-1:before { content: "\f244"; }

.fi-success:before { content: "\f245"; }

.fi-switch:before { content: "\f246"; }

.fi-switch-1:before { content: "\f247"; }

.fi-switch-2:before { content: "\f248"; }

.fi-switch-3:before { content: "\f249"; }

.fi-switch-4:before { content: "\f24a"; }

.fi-switch-5:before { content: "\f24b"; }

.fi-switch-6:before { content: "\f24c"; }

.fi-switch-7:before { content: "\f24d"; }

.fi-tabs:before { content: "\f24e"; }

.fi-tabs-1:before { content: "\f24f"; }

.fi-target:before { content: "\f250"; }

.fi-television:before { content: "\f251"; }

.fi-television-1:before { content: "\f252"; }

.fi-time:before { content: "\f253"; }

.fi-trash:before { content: "\f254"; }

.fi-umbrella:before { content: "\f255"; }

.fi-unlink:before { content: "\f256"; }

.fi-unlocked:before { content: "\f257"; }

.fi-unlocked-1:before { content: "\f258"; }

.fi-unlocked-2:before { content: "\f259"; }

.fi-upload:before { content: "\f25a"; }

.fi-user:before { content: "\f25b"; }

.fi-user-1:before { content: "\f25c"; }

.fi-user-2:before { content: "\f25d"; }

.fi-user-3:before { content: "\f25e"; }

.fi-user-4:before { content: "\f25f"; }

.fi-user-5:before { content: "\f260"; }

.fi-user-6:before { content: "\f261"; }

.fi-user-7:before { content: "\f262"; }

.fi-users:before { content: "\f263"; }

.fi-users-1:before { content: "\f264"; }

.fi-video-camera:before { content: "\f265"; }

.fi-video-camera-1:before { content: "\f266"; }

.fi-video-player:before { content: "\f267"; }

.fi-video-player-1:before { content: "\f268"; }

.fi-video-player-2:before { content: "\f269"; }

.fi-view:before { content: "\f26a"; }

.fi-view-1:before { content: "\f26b"; }

.fi-view-2:before { content: "\f26c"; }

.fi-volume-control:before { content: "\f26d"; }

.fi-volume-control-1:before { content: "\f26e"; }

.fi-warning:before { content: "\f26f"; }

.fi-wifi:before { content: "\f270"; }

.fi-wifi-1:before { content: "\f271"; }

.fi-windows:before { content: "\f272"; }

.fi-windows-1:before { content: "\f273"; }

.fi-windows-2:before { content: "\f274"; }

.fi-windows-3:before { content: "\f275"; }

.fi-windows-4:before { content: "\f276"; }

.fi-wireless-internet:before { content: "\f277"; }

.fi-worldwide:before { content: "\f278"; }

.fi-worldwide-1:before { content: "\f279"; }

.fi-zoom-in:before { content: "\f27a"; }

.fi-zoom-out:before { content: "\f27b"; }

@font-face { font-family: Audimat; src: url("/assets/fonts/audimat-regular.otf") format("opentype"); }

@font-face { font-family: Audimat; font-weight: bold; src: url("/assets/fonts/audimat-bold.otf") format("opentype"); }

@font-face { font-family: Audimat; font-style: italic; src: url("/assets/fonts/audimat-italic.otf") format("opentype"); }

@font-face { font-family: Audimat; font-weight: bold; font-style: italic; src: url("/assets/fonts/audimat-bold-italic.otf") format("opentype"); }

@-webkit-keyframes shake { 2%, 18% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0); }
  4%, 16% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0); }
  6%, 10%, 14% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0); }
  8%, 12% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0); }
  20% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }

@keyframes shake { 2%, 18% { -webkit-transform: translate3d(-1px, 0, 0); transform: translate3d(-1px, 0, 0); }
  4%, 16% { -webkit-transform: translate3d(2px, 0, 0); transform: translate3d(2px, 0, 0); }
  6%, 10%, 14% { -webkit-transform: translate3d(-4px, 0, 0); transform: translate3d(-4px, 0, 0); }
  8%, 12% { -webkit-transform: translate3d(4px, 0, 0); transform: translate3d(4px, 0, 0); }
  20% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }

body { margin: 0; background-color: #000; background-repeat: no-repeat; background-position: 50%; background-size: 500px; height: 100vh; overflow: hidden; font-family: 'Audimat'; color: #fff; background-image: url(/assets/img/lock_wp.jpg); }

div#transition-layer { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: transparent; -webkit-transition: .5s background ease-in-out; transition: .5s background ease-in-out; }

div#transition-layer.transitioning { background: rgba(0, 0, 0, 0.85); }

div#page { width: 100%; height: 100%; max-height: 100vh; margin: 0 auto; -webkit-transition: background 2s ease-in-out; transition: background 2s ease-in-out; background: rgba(0, 0, 0, 0.35); }

div#page.red { background: radial-gradient(circle, rgba(0, 0, 0, 0.35), rgba(64, 0, 0, 0.42)); }

div#page.yellow { background: radial-gradient(circle, rgba(0, 0, 0, 0.35), rgba(93, 88, 0, 0.42)); }

div#page.green { background: radial-gradient(circle, rgba(0, 0, 0, 0.35), rgba(0, 64, 0, 0.42)); }

div#page.dimmed { background: rgba(0, 0, 0, 0.75); }

a, a:visited { outline: none; text-decoration: none; color: inherit; }

a:hover, a:visited:hover { text-shadow: 0 0 30px #fff; }

h1 { font-size: 50px; text-align: center; margin-top: 0; }

h2 { font-size: 40px; text-align: center; margin-top: 0; }

h3 { font-size: 30px; margin-top: 0; }

h4 { font-size: 20px; margin-top: 0; }

p { margin-top: 0; }

nav, footer { position: fixed; left: 0; height: 50px; max-height: 50px; width: 100%; }

nav ul.main-navigation, nav ul.footer-navigation, footer ul.main-navigation, footer ul.footer-navigation { display: table; table-layout: fixed; margin: 0; text-align: center; list-style-type: none; height: 100%; width: 60%; padding: 0 20%; }

nav ul.main-navigation li, nav ul.footer-navigation li, footer ul.main-navigation li, footer ul.footer-navigation li { color: #fff; display: table-cell; vertical-align: middle; }

nav ul.main-navigation li a, nav ul.footer-navigation li a, footer ul.main-navigation li a, footer ul.footer-navigation li a { display: inline-block; width: 70%; }

nav ul.main-navigation li.selected, nav ul.footer-navigation li.selected, footer ul.main-navigation li.selected, footer ul.footer-navigation li.selected { font-weight: bold; }

nav { font-size: 20px; top: 0; background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent)); background: linear-gradient(black, transparent); }

nav #nav-indicator { display: block; position: absolute; width: 50px; height: 5px; background: white; top: 50px; -webkit-transition: left .5s ease-in-out; transition: left .5s ease-in-out; -webkit-box-shadow: 0px 0px 8px 3px #fff; box-shadow: 0px 0px 8px 3px #fff; }

nav aside { position: absolute; top: 10px; right: 10px; }

nav aside a { margin-left: 10px; }

nav a.alert::before { -webkit-animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite; animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000px; perspective: 1000px; }

nav a::before { display: inline-block; font-family: "Flaticon"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-size: 30px; margin-right: 10px; }

nav a[href='#summary']::before { content: "\f108"; }

nav a[href='#home']::before { content: "\f18d"; }

nav a[href='#alerts']::before { content: "\f106"; }

nav a[href='#log']::before { content: "\f1de"; }

nav a[href='#settings']::before { content: "\f215"; }

nav a[href='#exit']::before { content: "\f15f"; }

footer { font-size: 16px; bottom: 0; background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black)); background: linear-gradient(transparent, black); }

#content { padding: 50px 0; height: calc(100% - 100px); width: 100%; max-width: 1200px; margin: 0 auto; }

.content-slider { width: 1000%; height: 100%; position: relative; -webkit-transition: left .5s ease-in-out; transition: left .5s ease-in-out; }

.sub-page { padding: 20px 0; position: relative; max-width: 1200px; display: inline-block; height: 100%; vertical-align: top; }

.overlay-wrapper { position: absolute; z-index: 9999; top: -2000px; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.81); -webkit-transition: .5s top ease-in-out; transition: .5s top ease-in-out; }

.overlay-page { max-width: 1200px; width: 100%; height: calc(100% - 140px); margin: 0 auto; padding: 70px 0; }

.page-header { height: 15%; }

.page-content { height: 85%; overflow-y: auto; }

.page-content-full { height: 100%; overflow-y: auto; }

i.fi { vertical-align: middle; }

i.fi.tn { font-size: 20px; }

i.fi.sm { font-size: 30px; }

i.fi.md { font-size: 40px; }

i.fi.lg { font-size: 50px; }

i.fi.xl { font-size: 60px; }

i.close-overlay { float: right; }

i.close-overlay:hover { color: #aaa; cursor: pointer; }

::-webkit-scrollbar { width: 13px; }

::-webkit-scrollbar-track-piece { background-color: #0e0e0e; }

::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; }

::-webkit-scrollbar-track { background-color: #0e0e0e; border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
